@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Infant", serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #334eac;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}
.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: #7096d1;
}
.sidebar .nav-links li a:hover {
  background: #7096d1;
}
.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697ff;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i {
  font-size: 25px;
  color: #333;
}
.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator {
  display: flex;
  align-items: center;
}
.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8fdacb;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down {
  background: #e87d88;
}
.home-content .box .indicator .text {
  font-size: 12px;
}
.home-content .box .trac {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .trac.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box .trac.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .trac.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}
.home-content {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .props-boxes .recent-props {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .props-boxes .props-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.props-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.props-boxes .props-details li.topic {
  font-size: 29px;
  font-weight: 500;
}
.props-boxes .props-details li {
  list-style: none;
  margin: 8px 0;
}
.props-boxes .props-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.props-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.props-boxes .box .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 25px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.props-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .props-boxes .top-props {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.props-boxes .top-props li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.props-boxes .top-props li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.props-boxes .top-props li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.props-boxes .top-props li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Journal Entry Section Styles */

.journal-section {
  background-color: #d0e3ff;
  color: #0b1957;
  width: 900px;
  margin-left: 120px;
  border-radius: 8px;
  padding: 20px 0; /* Add space above and below */
}

.journal-container {
  max-width: 700px;
  height: 550px;
  margin: 0 auto;
  padding: 20px;
  height: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  width: 100%;
}

.journal-label {
  color:#0b1957;
  font-size: 18px;
}

.entry-text-title {
  width: 100%;

  margin: 8px 0;
  padding: 10px;
  border: 1px solid #0b1957;
  border-radius: 4px;
  background-color: #fafafa;
  box-sizing: border-box;
  margin-bottom: 50px;
  font-size: 15px;
}
.entry-text-box {
  width: 100%;
  height: 100px;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid ;
  border-radius: 4px;
  background-color: #fafafa;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 15px;
}

.entry-text-title:focus,
.entry-text-box:focus {
  outline-color: #0b1957;
}

.entry-text-title::placeholder,
.entry-text-box::placeholder {
  color: #0b1957;
}

.entry-submit-btn {
  background-color: #0b1957;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 30px;
  box-shadow: none;
  font-size: 20px;
}

.entry-submit-btn:hover {
  background-color: #86a9de;
}

.motiv-container {
  text-align: center;
  margin-top: 20px;
}

.block.text-center {
  display: inline-block;
}

.quote-box.block__main {
  min-width: 45vw;
  position: absolute;
  margin-right: 50px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, #f6f0ea, #f1dfd1);
  padding: 3rem;
}

.quote-box.block__back {
  transform: rotateY(180deg);
}

.quote-main {
  display: block;
  font-size: 30px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
  color: transparent;
  -webkit-background-clip: text;
}

.quote-text {
  font-size: 18px;
  line-height: 1.5;
}

.new-quote-main {
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 9px;
  margin-top: 5px;
  background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}

.new-quote-main:hover {
  opacity: 0.6;
}

.author-main {
  margin: 10px;
  font-size: 20px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: "Open Sans Condensed", sans-serif;
  background-image: linear-gradient(to right bottom, #28313b, #485461);
  color: transparent;
  -webkit-background-clip: text;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .props-boxes {
    flex-direction: column;
  }
  .home-content .props-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

/* Journal Results Section Styles

.sectionEntryResults {
  background-color: rgba(255, 218, 185, 0.3);
  color: #8b4513;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entryResultRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.single-entry-date {
  background-color: rgba(255, 218, 185, 0.5);
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #d2691e;
} */

/* Add this CSS at the end of your existing styles */

.sectionEntryResults {
  display: none;
  padding: 20px;
}

.sectionEntryResults.active {
  display: block;
}
